In [1]:
import pandas as pd
import numpy as np

In [2]:
processedBooking = pd.read_csv('D://Master/SSP/Projekat/data/processed/ProcessedBooking.csv')
processedAirbnb = pd.read_csv('D://Master/SSP/Projekat/data/processed/ProcessedAirbnb.csv')

In [3]:
processedBooking.head()

,Book Number,Booked By,Guest Name,Start Date,End Date,Booked On,Status,Rooms,Number Of People,Number Of Adults,...,Advertiser,Contact,Staff,Facilities,Cleanliness,Comfort,Value For Money,Location,Free WiFi,Accommodation Type
0,2.245705e+09,Veeravalli Gopi,Gopi Veeravalli,03.04.2019,06.04.2019,30.03.2019,Confirmed,1.0,2,2.0,...,Booking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
1,2.071623e+09,Kretov Nikita,Nikita Kretov,06.04.2019,11.04.2019,01.03.2019,Confirmed,1.0,2,2.0,...,Booking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,3.037388e+09,Yuheng Huang,Yuheng Huang,07.04.2019,08.04.2019,31.03.2019,Confirmed,1.0,2,2.0,...,Booking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C
3,3.181655e+09,Li Fengju,Fengju Li,10.04.2019,11.04.2019,02.04.2019,Confirmed,1.0,2,2.0,...,Booking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
4,3.642009e+09,Li Fengju,NaN,11.04.2019,12.04.2019,02.04.2019,Confirmed,1.0,2,2.0,...,Booking,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C

In [4]:
processedAirbnb.head()

,Book Number,Status,Guest Name,Number Of Adults,Number Of Children,Start Date,End Date,Number Of Nights,Booked On,Accommodation,Price_DOLLAR,Accommodation Type,Grade,Advertiser,Number Of People,Contact
0,HMAMP59PS4,Confirmed,Youstina Daoud,2,0,03.06.2019,05.06.2019,2,30.03.2019,Studio with Patio,63.90,B,0.0,Airbnb,2,NaN
1,HMAMHWYDSW,Confirmed,Kristina Holm Jensen,2,0,05.06.2019,07.06.2019,2,05.05.2019,Studio with Patio,63.90,B,8.0,Airbnb,2,NaN
2,HMAC8EWZ3P,Confirmed,Ã–Znur Balaban,2,0,08.06.2019,09.06.2019,1,09.04.2019,Studio with Patio,31.95,B,0.0,Airbnb,2,NaN
3,HMANF23QWC,Confirmed,Steve Qj,1,0,10.06.2019,11.06.2019,1,01.06.2019,Studio with Patio,32.95,B,0.0,Airbnb,1,NaN
4,HMACJE5D9D,Confirmed,Quinten Spakman,2,0,13.06.2019,15.06.2019,2,04.05.2019,Studio with Patio,63.90,B,7.0,Airbnb,2,NaN

In [5]:
not_common_columns = set(processedBooking.columns).symmetric_difference(set(processedAirbnb.columns))

print("Columns not common:", not_common_columns)

Columns not common: {'Value For Money', 'Payment Method', 'Commission Percentage', 'Booked By', 'Number Of Nights', 'Comfort', "Children's Age", 'Commission Amount', 'Rooms', 'Location', 'Facilities', 'Free WiFi', 'Staff', 'Cleanliness', 'Payment Status', 'Price_EUR', 'Price_DOLLAR'}

In [6]:
processedBooking.columns

Index(['Book Number', 'Booked By', 'Guest Name', 'Start Date', 'End Date',
       'Booked On', 'Status', 'Rooms', 'Number Of People', 'Number Of Adults',
       'Number Of Children', 'Children's Age', 'Price_EUR',
       'Commission Percentage', 'Commission Amount', 'Payment Status',
       'Payment Method', 'Accommodation', 'Grade', 'Advertiser', 'Contact',
       'Staff', 'Facilities', 'Cleanliness', 'Comfort', 'Value For Money',
       'Location', 'Free WiFi', 'Accommodation Type'],
      dtype='object')

In [7]:
processedAirbnb.columns

Index(['Book Number', 'Status', 'Guest Name', 'Number Of Adults',
       'Number Of Children', 'Start Date', 'End Date', 'Number Of Nights',
       'Booked On', 'Accommodation', 'Price_DOLLAR', 'Accommodation Type',
       'Grade', 'Advertiser', 'Number Of People', 'Contact'],
      dtype='object')

In [8]:
processedBooking.shape

(558, 29)

In [9]:
processedAirbnb.shape

(147, 16)

In [10]:
mergedData = pd.concat([processedBooking, processedAirbnb], ignore_index=True)

In [11]:
mergedData.shape

(705, 31)

In [12]:
mergedData.head()

,Book Number,Booked By,Guest Name,Start Date,End Date,Booked On,Status,Rooms,Number Of People,Number Of Adults,...,Staff,Facilities,Cleanliness,Comfort,Value For Money,Location,Free WiFi,Accommodation Type,Number Of Nights,Price_DOLLAR
0,2245705225.0,Veeravalli Gopi,Gopi Veeravalli,03.04.2019,06.04.2019,30.03.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN
1,2071623069.0,Kretov Nikita,Nikita Kretov,06.04.2019,11.04.2019,01.03.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN
2,3037388122.0,Yuheng Huang,Yuheng Huang,07.04.2019,08.04.2019,31.03.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN
3,3181654986.0,Li Fengju,Fengju Li,10.04.2019,11.04.2019,02.04.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,NaN,NaN
4,3642008503.0,Li Fengju,NaN,11.04.2019,12.04.2019,02.04.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN

In [13]:
mergedData.columns

Index(['Book Number', 'Booked By', 'Guest Name', 'Start Date', 'End Date',
       'Booked On', 'Status', 'Rooms', 'Number Of People', 'Number Of Adults',
       'Number Of Children', 'Children's Age', 'Price_EUR',
       'Commission Percentage', 'Commission Amount', 'Payment Status',
       'Payment Method', 'Accommodation', 'Grade', 'Advertiser', 'Contact',
       'Staff', 'Facilities', 'Cleanliness', 'Comfort', 'Value For Money',
       'Location', 'Free WiFi', 'Accommodation Type', 'Number Of Nights',
       'Price_DOLLAR'],
      dtype='object')

In [14]:
mergedData.rename(columns={'NumberOfPeople': 'Number Of People',
                            'NumberOfAdults': 'Number Of Adults',
                            'NumberOfChildren': 'Number Of Children',
                            'Commission %': 'Commission Percentage',
                            'NumberOfAdults': 'Number Of Adults',
                            'NumberOfNights': 'Number Of Nights',
                           }, inplace=True)

In [15]:
mergedData.columns

Index(['Book Number', 'Booked By', 'Guest Name', 'Start Date', 'End Date',
       'Booked On', 'Status', 'Rooms', 'Number Of People', 'Number Of Adults',
       'Number Of Children', 'Children's Age', 'Price_EUR',
       'Commission Percentage', 'Commission Amount', 'Payment Status',
       'Payment Method', 'Accommodation', 'Grade', 'Advertiser', 'Contact',
       'Staff', 'Facilities', 'Cleanliness', 'Comfort', 'Value For Money',
       'Location', 'Free WiFi', 'Accommodation Type', 'Number Of Nights',
       'Price_DOLLAR'],
      dtype='object')

In [16]:
mergedData['Number Of Nights'].unique()

array([nan,  2.,  1.,  4.,  5.,  3.,  8., 12.,  7.,  6.])

In [17]:
mergedData.drop_duplicates(subset=['Book Number'], keep='first', inplace=True)

In [18]:
mergedData['Booked By'].unique()

array(['Veeravalli Gopi', 'Kretov Nikita', 'Yuheng Huang', 'Li Fengju',
       'Le Masson Frederic', 'Prasad Alok', 'Foreman Brad', 'Sainio Mika',
       'Kong Fanhua', 'Van Beveren Nanou', 'Huneau Mickaël',
       'Burton Michele', 'Kulska Joanna', 'Atodiresei Oana',
       'Boustead James', 'Robertson Laura', 'Pinedo Guardamino Iñigo',
       'Turquety Myriam', 'Zivic Mrdan', 'Mutwicka Agnieszka',
       'Heinonen Arja', 'Van Es Jan-Kees', 'Jelovčan Rok',
       'Dworak Daniel', 'Bedza Tomasz', 'Efimov Vladimir',
       'Belanger Rene', 'Bentley Wendy', 'Petit Alexandra',
       'Lahaye Sandie', 'Henderson Debbie', 'Palmero Lucia',
       'Gaona Joris', 'Miftakhov Ilnar', 'Lucas Thomas',
       'Kudryavtseva Maria', 'Dhondt Joelle', 'Verlinden Lorna',
       'Englander Kate', 'Niskanen Nina', 'Öncüer Alper',
       'Victoria Walkden', 'Guntlisbergen Roel', 'Turunen Anna',
       'Holl Simon', 'Sutherland Roger', 'Hilbring Alexander',
       'Ruzniaev Dmitrii', 'Ersin Mustafa Önder', 'Ruuska Janika',
       'Gavel Greg', 'Ardn Chloé', 'Altınel Mahmut', 'Rothmann Wolfram',
       'Samir Basim', 'Klyakhin Leonid', 'Lumiala Marianna',
       'Roder Sieglinde', 'Szostek Wiesław', 'Nassenstein Bianca',
       'Janmaat Riemer', 'Pyysalo Mikko', 'Kiely James', 'Bueno Tobias',
       'Risberg Elin', 'Wespi Celine', 'Korneev Igor', 'Toyama Shunsuke',
       'Edgren Jaki-Mikko', 'Delibaş Buket', 'Kurzewitz Christina',
       'Fantoni Teresa', 'Scholz Stephanie', '&#39;T Jong Renaldo',
       'Pösel Bernhard', 'Wenche Olsen', 'Mitchell Kate', 'Reed Adam',
       'Alexander Melissa', 'Martinez Bujidos Maria', 'Korotaeva Anna',
       'Pawlowska-Grzelak Magdalena', 'Kurki Jussi', 'Boström Jessica',
       'Yeung Yuen Yee', 'Durfort François', 'Hong Anita',
       'Muirhead Heather', 'Thelen Yves', 'Vaiciulionis Aurelijus',
       'Lowe Dawn', 'Parsons Clare', 'Ayan Dedeoğlu Emel', 'Delic Anes',
       'Kałuziński Piotr', 'Gale Matt', 'Verardi Giovanni',
       'Lyytikäinen Juho', 'Loimayr Vinzenz', 'Michaelides Danae',
       'Segui Victor', 'Edwards Katie', 'Seppälä Iida', 'Fiala Isabel',
       'Roos Katarina', 'Perälä Roosa-Maria Emilia', 'Tahar Ali', nan,
       'Hines Megan', 'Breu Markus', 'Desjardins Mario', 'Bal Ingrid',
       'Yang Liling', 'Kasimova Sevil', 'Lievens Elena', 'Lewis Dane',
       'Iakiamsev Maksim', 'Ushakova Elena', 'Van Peteghem Nicolas',
       'Tregillis Brian', 'Sümer Enes', 'Deymier Nicolas', 'Allais Mehdi',
       'Bartels John', 'Rampazzo Alessandro', 'Lindberg Julia',
       'Fedorovskaia Ekaterina', 'Robles Godoy Ismael', 'Karagöz Dilek',
       'Keiding Ulrik Bering', 'Petitjean Margaux', 'Naisby Richard',
       'Corteville Hugo', 'Bompani Fabrizio', 'Ferdinandi Jacopo',
       'Guy Nicolas', 'Landureau Victor', 'Vallet Pascale',
       'Jacquemart Arnaud', 'Kanic Nina', 'Posthumus Pelle',
       'Jari Vänskä', 'Nikkanen Konsta', 'Higgins Sarah',
       'Sonntag Carmen', 'Perepelova Albina', 'Mckeague Dean',
       'González Javier', 'Vasilenko Valeriya', 'Langmann Thomas',
       'Kononov Pavel', 'Lamers Adrianus', 'Belyaeva Tatiana',
       'Nikitenko Svetlana', 'Findelair Caroline', 'Danis Marine',
       'De La Asunción Alba', 'Ko Tia', 'Luo Fang',
       'Guilhaume Marjolaine', 'Johnston Judi', 'Ersoy Ali',
       'Boeckxstaens Robin', 'Dvash Susana', 'Shrestha Mandira',
       'Boháčik Ján', 'Murray Thomas', 'Robbers Karien',
       'Maisonneuve Cédric', 'Rauturier Sandrine', 'Kenttälä Markus',
       'Schwarz Vanessa', 'Orädd Irja', 'Aldunate Maria',
       'Mashkina Elena', 'Kokhanova Alina', 'Mcguinness Karen',
       'Gomes Marta', 'Han Yan', 'Moreno Clavero Francisco',
       'Gillard Romain', 'Wieck Maren', 'Sizov Mikhail', 'Yang Qingqing',
       'Rakovic Marko', 'Kozminska Marta', 'Goellner Kerstin',
       'Kemp Patricia', 'Laidler John', 'Zabihi Robert', 'Wallois Julien',
       'Fang Hong', 'Choi Lnhak', 'Neeman Sivan', 'Veijalainen Niina',
       'Pernía Sánchez Ana', '刘 超', 'Ertosun Bülent', 'Cutocheras Matei',
       'Song Yudong', 'Tschernutter Karin', 'Smirnova Olga',
       'Zuelch Cord', '赖 毅鹏', 'Kuznetsov Semen', 'Johnny Vivian',
       'Weineholm Jens', 'Primak', 'Field Colin', 'Blazhko Alena',
       'Crucitti Marc', 'Bernai Gergely', 'Parayre Laurent',
       'Spiteri Kate', 'Dudukina Tatiana', 'Vajngerl Tomaž',
       'Fernandez Perez Alberto', 'Akyol Ayse', 'Mária Sárikné Deutsch',
       'Gniazdowska Monika', 'Sárkány Előd Szilveszter', 'Gwizdz Alicja',
       'Kolenda Anna', 'Filiks Adam', 'Ashcroft Megan', 'Lipinska Marta',
       'Gęsicka Aleksandra', 'Martens Erik', 'Klimczewska Izabela',
       'Drakulovic David', 'Nielipinska Anna', 'Pilch Przemysław',
       'Zakharova Irina', 'Darricau Gaëlle', 'Berisha Adelina',
       'Wawrzyńska Mariola', 'Penkova Anastasiya', 'Huriev Oleksandr',
       'Guz Paweł', 'Boiski Maciej', 'Yulia Yulia', 'Przeworska Anna',
       'Balakhonkin Anton', 'Garner Phillip', 'Shevchenko Kateryna',
       'Abrosimova Elena', 'Mravunac Sužnjević Ines', 'Kokuzina Lesya',
       'Lenyk Volodymyr', 'Mykhailiuk Oleh', 'Quinn Eileen',
       'De La Rosa Juan', 'Cook Christopher', 'Cocco Silvia',
       'Abdin Aytaj', 'Morris Craig', 'Penker Christine', 'Tana Tana',
       'Sevinc Burkay', 'Wielgosz Michał', 'Kekeçoğlu Demet',
       'Viinikainen Hannaleena', 'Saario Anna', 'Toonders Margreet',
       'Warnes Indra', 'Jones Martin', 'Larrinaga Maria Rosa',
       'Lockton Catherine', 'Tütüncü Ayse Sema', 'Cohen David',
       'Newby Thomas', 'Fagel Caitlin', 'Ojasalu Aivi', 'Spence Steven',
       'Ferguson Catherine', 'Meunzel Sophia', 'Forest Daniele',
       'Cho Jeonwook', 'Gray Joshua', 'Clancey Barbara', 'De Vries Dinah',
       'Matthews Ellen Rose', 'Odling Louise', 'Eriksson Uta',
       'Schmidt Helmut', 'Van Gils Marinus', 'Frutos Miguel',
       'Silva Sérgio', 'Jeandel Romain', 'Kozdereli Aslıhan',
       'De Koeijer Martin', 'Celik Gokcem', 'Vuoriola Niko',
       'Nastopka Aidas', 'Banks Louise', 'Pitzalis Giulia',
       'Kaklewski Arkadiusz', 'Luceno Carracedo Eduardo',
       'Dutton Kathryn', 'Jevtic Zorana', 'Daniels Dylan',
       'Stanzione Vitale', 'Akkaş Efe', 'Samuelson Catherine',
       'Chen Zhenkai', 'Moreira Da Costa Filho Marcelo',
       'Costante Michael', 'Shimwell David', 'Martynchenko Natalia',
       'Stortelder Anouk', 'Core Michel', 'Selwyn Louis', 'Plchová Sylva',
       'Tuck Robert', 'Anderton Nikki', 'Šteflová Martina',
       'Sousa Juliana', 'Buch Daniel', 'Foley Sarah', 'Donsbach Andreas',
       'Tomkinson Emma', 'Goldsbrough Charlotte', 'Scott Roger',
       'Murray Samantha', 'Burkitt Stephen', 'Koyuncu Yılmaz İrem',
       'Bogdanova Elena', 'Vasileva Anna', 'Väistö Matti',
       'Capancioni Linda', 'Relton Nicholas', 'Falay Merve',
       'Sun Shiting', 'Mollicone Jean-François', 'Messenger Holly',
       'Lambert Clara', 'Ploeg Pascal', 'Rinde Kari Nitter Melheim',
       'Rutgers Afra', 'Odonovan Sarah', 'Pronina Anastasiia',
       'Özenir Eralp', 'Yiğit Serdar', 'Slater Jonathan',
       'Hantusch Joachim', 'Madsen Hanne', 'Saeternes Silje',
       'Ferst Devra', 'Baulard Léa', 'Bahat Tamir', 'Bagdonas Rokas',
       'Englund Holm Linn', 'Botic Tatjana', 'Zandvliet Merel',
       'De Palol Fariza Clàudia', 'Ren Jing', 'Castanheira Tatiana',
       'Micu Liliana Ionela', 'Ahmad Milan', 'Llanos Cristina',
       'Cogorno Michele', 'Van Vorsselen Courtney', 'Akkaya Seda Tugce',
       'Wrobel Miroslaw', 'Eroğlu Mert Alper', 'Ighil Ameur Lamine',
       'Bodoyra Vittorio', 'Shahane Rhea', 'Karadağ Turgut',
       'Prouten Hannah', 'Samast İlknur', 'Viajes Horizon',
       'Kellner Natalie', 'Öztürk Batuhan', 'Gallagher Olivia',
       'Heezen Guus', 'Larsen Vivian', 'Medina Rodriguez Jose Ignacio',
       'Stuart Isabella', 'Radosavljević Natalija', 'Martzel Lauriane',
       'Bennett Debra', 'Hall Janet', 'Lety Marla', 'Ostermeyer John',
       'Solari Juan Pablo', 'Bastos Carreira João Maria',
       'Perez Linares Guillermo', 'Lewandowska Katarzyna',
       'Sparks Jessica', 'Kurán Eleonóra', 'Müller Manfred',
       'Szeliga Mariola', 'Brierley Gillian', 'De Jonge John',
       'Hughes Mark', 'Hooper Suzanne', 'Scully Stephen',
       'Stelzner Thomas', 'Yashno Meir', 'Adams Deborah', 'Lawson Philip',
       'Hochheimer Alexander', 'Postma Bobby', 'Hure Claudio',
       'Reyes Nicole', 'Paulus Ülo', 'Roberts-Clarke Sallie',
       'Hiver Claudia', 'Herr Reinhard Lochner', 'Siu Spencer',
       'Umut Yılmaz', 'Martínez Del Río María', 'Seyres Marie-Paule',
       'Yap Siew Leng', 'Wadsworth Amy'], dtype=object)

In [19]:
mergedData['Booked By'] = mergedData['Booked By'].str.replace(',', '')

In [20]:
mergedData["Book Number"].unique()

array([2245705225.0, 2071623069.0, 3037388122.0, 3181654986.0,
       3642008503.0, 1340816025.0, 2768936047.0, 2411639899.0,
       3817014242.0, 2297200138.0, 3215808386.0, 2452480953.0,
       1083398481.0, 2409472027.0, 3797587768.0, 1089621040.0,
       2449237016.0, 2684309061.0, 2326808704.0, 1627727072.0,
       3493631099.0, 1067175879.0, 2093236203.0, 1221707112.0,
       2102023518.0, 1522323473.0, 3454606543.0, 3628012963.0,
       2458350579.0, 2144565692.0, 2762110389.0, 2082938528.0,
       2287594553.0, 3064127071.0, 1650663054.0, 1247929267.0,
       1401867354.0, 1466284361.0, 1530215775.0, 3901722992.0,
       3756773650.0, 2415691869.0, 2688247539.0, 3601148869.0,
       1097452049.0, 2488158660.0, 1886797518.0, 1839188160.0,
       2173928351.0, 3591993675.0, 3266190964.0, 2628510883.0,
       2913946384.0, 2127243811.0, 3422102951.0, 3043640029.0,
       2035220765.0, 2493258268.0, 3289343889.0, 1497231006.0,
       1666574074.0, 3090485196.0, 2246036423.0, 2801478064.0,
       1265303123.0, 3702453622.0, 1172148611.0, 2483682287.0,
       1979012980.0, 2325638834.0, 1703440576.0, 1732351126.0,
       3249898207.0, 2761365908.0, 1668341118.0, 2059568481.0,
       2633309904.0, 2992580909.0, 3383173881.0, 1066381820.0,
       2154266835.0, 3044223068.0, 2541322189.0, 3719758838.0,
       1366707475.0, 1588213952.0, 2896715135.0, 3383187497.0,
       1764505377.0, 1979903531.0, 1190540758.0, 2504253041.0,
       2617327005.0, 3012809137.0, 3829901520.0, 1456986884.0,
       2511210304.0, 2977568980.0, 3177657419.0, 2621646965.0,
       2973290498.0, 2929110399.0, 3988788179.0, 2983583994.0,
       2766619353.0, 3723857513.0, 3500810693.0, 3370491044.0,
       2760288469.0, 2418064119.0, nan, 3736438101.0, 3275960115.0,
       1607757534.0, 1202300396.0, 3636094871.0, 3644842418.0,
       3041585126.0, 2321773133.0, 2049506578.0, 2542675067.0,
       3711828479.0, 2511722734.0, 2818659923.0, 2135985543.0,
       2464742456.0, 3474394317.0, 3570275548.0, 2708817993.0,
       1752541283.0, 2808181421.0, 1225379867.0, 3469827858.0,
       3886413550.0, 2312889071.0, 3913690318.0, 1715879181.0,
       3350915951.0, 3015021296.0, 2361062067.0, 3357459506.0,
       2446711777.0, 2572683589.0, 3366254550.0, 1458077648.0,
       2926717906.0, 2763189960.0, 2351813319.0, 2120034527.0,
       2648703421.0, 2617080193.0, 3010675675.0, 3658542683.0,
       3658542962.0, 3605940813.0, 2057405791.0, 3129364094.0,
       2222863755.0, 3557058804.0, 2755820624.0, 3590152804.0,
       3014899478.0, 3314483570.0, 2351778794.0, 2888649849.0,
       2281929137.0, 3388666010.0, 3344144659.0, 3832755928.0,
       1002636466.0, 3995656946.0, 2695976476.0, 3163877584.0,
       3036028593.0, 2283223621.0, 3471119849.0, 3790908637.0,
       3767898051.0, 2435642186.0, 2467317139.0, 2435698861.0,
       2179939391.0, 3247129292.0, 3382930558.0, 3729237707.0,
       3804685072.0, 3921314695.0, 3150653324.0, 2625907639.0,
       2174873127.0, 3469200556.0, 3805346594.0, 2227372417.0,
       3153488352.0, 3579118616.0, 3238887476.0, 2260806021.0,
       2787011359.0, 3291523078.0, 2260826054.0, 3284183822.0,
       2968141481.0, 3192714709.0, 2746676109.0, 2724728207.0,
       2557756782.0, 3955602586.0, 2239413905.0, 3891934940.0,
       2978599423.0, 2105770884.0, 3903293661.0, 2968108154.0,
       2312261503.0, 1849924693.0, 3468227684.0, 3897684602.0,
       3937673868.0, 3489738237.0, 2172976534.0, 2294044292.0,
       3044838719.0, 2210088623.0, 2310781853.0, 2274513344.0,
       3612440501.0, 2224416656.0, 2284117766.0, 3666861902.0,
       3168558138.0, 3335452243.0, 3251250059.0, 2307791873.0,
       3299147332.0, 2184010775.0, 2720125985.0, 3020331127.0,
       2198008434.0, 2844997397.0, 3594871097.0, 3431170671.0,
       3843171828.0, 2688496317.0, 3737705639.0, 2668756614.0,
       3992438269.0, 2227128291.0, 3662346745.0, 2864174409.0,
       3217038516.0, 2642922280.0, 2476055321.0, 2688128194.0,
       3595829045.0, 2177211152.0, 2184747030.0, 3216185971.0,
       2149858814.0, 2801101587.0, 2993634676.0, 2846190001.0,
       2622761859.0, 2622739890.0, 2411193121.0, 2493529664.0,
       3878795126.0, 2721879422.0, 2436180686.0, 2258409822.0,
       3050555032.0, 2326602425.0, 3460335942.0, 2745007960.0,
       3401358906.0, 3035622868.0, 2955443715.0, 2767280391.0,
       2767203439.0, 3002564177.0, 3090205990.0, 2294230570.0,
       2149078784.0, 2294203046.0, 3033558544.0, 2330020905.0,
       3035186112.0, 2676933331.0, 2676935409.0, 3107258287.0,
       2202654906.0, 2674962525.0, 3717533266.0, 2534876501.0,
       2507422922.0, 3124995082.0, 2281227149.0, 2565331425.0,
       2793159678.0, 3459568490.0, 2874725035.0, 3621662926.0,
       2748818300.0, 3443382095.0, 3495599744.0, 3676679719.0,
       2185291500.0, 3526790935.0, 2868284584.0, 3231301160.0,
       3720576773.0, 3044932517.0, 3604148605.0, 2937587746.0,
       3556604767.0, 2695765214.0, 3705342084.0, 2708482829.0,
       2232126962.0, 3433204391.0, 2136710719.0, 2930418829.0,
       3581874589.0, 2640498641.0, 3232891945.0, 2906488360.0,
       3777625256.0, 2936175841.0, 3212883028.0, 3108247316.0,
       3532151522.0, 3696490722.0, 3527181508.0, 2799254617.0,
       2892041330.0, 3744652502.0, 3744634074.0, 3133609348.0,
       2359400878.0, 3969827568.0, 2735070211.0, 3140759524.0,
       2920961987.0, 3780221223.0, 3749194759.0, 3952797885.0,
       3820166423.0, 2270670894.0, 3326224982.0, 2754622468.0,
       3467223567.0, 3086929427.0, 2199306885.0, 2915283772.0,
       2197349114.0, 2600268751.0, 2896899770.0, 2256619892.0,
       3506978869.0, 3637195891.0, 2746955968.0, 3847268467.0,
       3815278809.0, 3834641870.0, 2931585589.0, 2128831651.0,
       3894131761.0, 3705895403.0, 3678162739.0, 3669552047.0,
       2765990756.0, 2626987354.0, 3010493932.0, 3494875475.0,
       2884003258.0, 3488069170.0, 2369504400.0, 2686459322.0,
       2144458575.0, 3249462422.0, 3527613470.0, 2703656690.0,
       3087068843.0, 2175910000.0, 3970623369.0, 3441599315.0,
       2897130215.0, 2918383892.0, 3410174307.0, 3965650875.0,
       3473824160.0, 2187141203.0, 2446909164.0, 2374616608.0,
       2251062736.0, 2337695567.0, 3022962893.0, 3726049369.0,
       2592012844.0, 2394215548.0, 3710716145.0, 2822521666.0,
       3686954692.0, 2865220104.0, 3718418080.0, 3114923972.0,
       2206155885.0, 2542301357.0, 2340202965.0, 2156550236.0,
       3269631363.0, 3903489201.0, 2930122031.0, 2261391514.0,
       3042163947.0, 3588128746.0, 3983824421.0, 3030426197.0,
       3169681376.0, 2631476552.0, 3887630784.0, 2655541070.0,
       3582235222.0, 3577072884.0, 3635773816.0, 3610647031.0,
       3639722785.0, 2407715799.0, 3045342062.0, 3182061855.0,
       2179789496.0, 3712157404.0, 3127022720.0, 3865034114.0,
       3505687104.0, 3721433590.0, 2355587067.0, 2767146130.0,
       2191108330.0, 3026150080.0, 3553402550.0, 2228119068.0,
       2387786908.0, 2463916775.0, 3615290118.0, 2715904845.0,
       2394086652.0, 3020439967.0, 2478867916.0, 2834477711.0,
       2781416031.0, 2703020589.0, 2323808172.0, 2462405088.0,
       2790280561.0, 2174431055.0, 2815396848.0, 3093589892.0,
       3896929927.0, 2130202510.0, 2686171348.0, 2710225901.0,
       3145476393.0, 3429554839.0, 3911041228.0, 2617182283.0,
       2665309053.0, 3739795212.0, 3572358004.0, 3070915961.0,
       3615787400.0, 3602489428.0, 2715475624.0, 3122460372.0,
       3801083881.0, 3152864389.0, 3651603083.0, 3582257855.0,
       3320967660.0, 2503057444.0, 2769778482.0, 2317184625.0,
       2670299023.0, 3008655958.0, 3379662038.0, 2257591509.0,
       3457058995.0, 2107673329.0, 3497298263.0, 3984852431.0,
       3553902942.0, 2171171341.0, 2461253844.0, 3182981212.0,
       3924662801.0, 2318039807.0, 3491805221.0, 3733099273.0,
       2340714875.0, 3289700409.0, 3433555279.0, 3978397349.0,
       2408162470.0, 2872447611.0, 3039549588.0, 2569659641.0,
       3639709475.0, 3037475950.0, 3270900101.0, 2463365682.0,
       3633342958.0, 2383894256.0, 2166441120.0, 3453231163.0,
       3584249316.0, 2527792591.0, 2786581379.0, 3733841026.0,
       3328958436.0, 2175320356.0, 3311865987.0, 2907827599.0,
       3341566615.0, 2352037261.0, 3725932354.0, 2585248605.0,
       3650679940.0, 3223916857.0, 3561844245.0, 3796573169.0,
       3127007429.0, 3270449518.0, 3987667906.0, 3223825419.0,
       2804269598.0, 2438350371.0, 2820875496.0, 3875099528.0,
       3151800039.0, 2925600434.0, 3251175120.0, 2648864446.0,
       3881038944.0, 3410463493.0, 2741861131.0, 2845285307.0,
       2973913445.0, 4044556600.0, 2144389648.0, 3338312200.0,
       3505662592.0, 2229792389.0, 2116506285.0, 3866949626.0,
       3271337518.0, 3888018994.0, 4256615523.0, 2940246879.0,
       4013896276.0, 'HMAMP59PS4', 'HMAMHWYDSW', 'HMAC8EWZ3P',
       'HMANF23QWC', 'HMACJE5D9D', 'HMAANWWMXF', 'HMANM3BZNK',
       'HMAFYDXSP2', 'HMANPWZFK8', 'HMAEK4WZXE', 'HMAK423J94',
       'HMAF52YNQJ', 'HMABPFJMSS', 'HMAF4Y8D8Z', 'HMANBJE25C',
       'HMAHYTM5BE', 'HMABH9P4XM', 'HMAQTTMMNJ', 'HMAJXNJHWX',
       'HMTZSQP8RH', 'HMA2W5RWEW', 'HMNCPSDN85', 'HMSX2XZYJP',
       'HM2W9FZH4D', 'HMDRCFT8FK', 'HMZ2M9EKKE', 'HMCS5YZ32C',
       'HMHRYN3F33', 'HM92T28999', 'HMTDN4C2P5', 'HM8B28DTWD',
       'HMFPRXB5Y5', 'HMBPTJDCHT', 'HMRE38CFN8', 'HMEWN8KJWY',
       'HMKSZYHAKT', 'HM38KMKBH3', 'HMQZAQHM55', 'HMTKM8W25E',
       'HMJQK2HWSE', 'HMD2RRDPM5', 'HM4FQHK5HS', 'HMWCQZMFWX',
       'HMC5NDKYZQ', 'HMS4CRB244', 'HMX2EXERWF', 'HM8JNH5EAW',
       'HMNZQB4AAD', 'HMC3343M4S', 'HMQHQEZXEW', 'HMAQZ59MFR',
       'HMKY9EF9ST', 'HMA9WQF5ZW', 'HMMCK43KJM', 'HMZBP2MKYR',
       'HMWS2QXFZ8', 'HMQR9D8FFR', 'HMF85JD9FJ', 'HMYK4KFAHD',
       'HME2RTNRKM', 'HM3K5XR2XZ', 'HM9PS3YNZC', 'HMQAMR845F',
       'HMJYBTKZRS', 'HM2T59HQK5', 'HMQ2PQC5NC', 'HM3WRSTQ2A',
       'HMTJ24NN9A', 'HM8QEMQTPA', 'HMSQYYXRDZ', 'HMYE5BN3J3',
       'HMM84FTBD8', 'HMEQP9SB9Z', 'HMM58XHA48', 'HM8JPNW9XX',
       'HMBZXB52XZ', 'HMSPEHDQAT', 'HMMFY4BFST', 'HMMDE3TKEY',
       'HMZ33EAW3E', 'HMHWJJZPRK', 'HMJBMJDYRM', 'HMS9RPKT2D',
       'HMQPCMA4XH', 'HMTJ44HWZA', 'HM9WEMMMWE', 'HM98CR422S',
       'HMJAE55C24', 'HMB42MQZZR', 'HMQK92QNTZ', 'HMJ8Z3KYTB',
       'HMMNF3ZKTS', 'HMSHQYWWPX', 'HMRX5JDPRT', 'HMBRAWYAKT',
       'HMCXC5XP8J', 'HMT3XASPW5', 'HMN23AHSKJ', 'HMEAKEXXW5',
       'HMN9QZKY32', 'HMN4MHXWZP', 'HMY5FBYPNW', 'HMEMY4A4CM',
       'HMR8DBBH2J', 'HMX9KZXWWS', 'HMA2S8MTHY', 'HM8FMXPPJJ',
       'HMY5K2PWY8', 'HMBTSBBDSD', 'HMQN3DACRZ', 'HMBC32W5AC',
       'HM2XWX4HCF', 'HMCR589P4K', 'HMTDHS9BFA', 'HM8F8KPQSX',
       'HMW25FE9WD', 'HMKNC58THX', 'HM8ZC3ABYR', 'HMCASFRTEE',
       'HMCPYRWC84', 'HMYYTZFR5F', 'HM9N3MMYS9', 'HMP3K8QSK5',
       'HMA252XTRX', 'HMWNTZDDDP', 'HMFSFCPCF3', 'HMYJNC55ZS',
       'HMTY8PNB9J', 'HMD55NAFYE', 'HMFE4FR8E4', 'HMFNJ2YEHB',
       'HM2MY3J8YZ', 'HMDK5ADZD4', 'HMDM43WKFN', 'HMMRJPEE4Z',
       'HM4E4THKMH', 'HM4WP4XTAQ', 'HMEQJSSW5W', 'HMYTMMR9HR',
       'HMTADTEBN4', 'HMTEEAEQAP', 'HMA9FBJWS4', 'HMH8EJZ8P3',
       'HMN42DNAYH', 'HM4CDA5HQZ', 'HMK9549AFB', 'HMWP3DRS4Y'],
      dtype=object)

In [21]:
mergedData["Children's Age"] = mergedData["Children's Age"].str.replace(',', ';')

In [22]:
mapping = {'One-Bedroom Apartment with Balcony and Sea View' : 4,
           'Studio with Patio' : 2,
           'Studio with Patio and Sea View' : 2,
           'One-Bedroom Apartment with Patio and Sea View' : 4}

mergedData['Bed'] = mergedData['Accommodation'].replace(mapping)

In [23]:
finalBooking = mergedData[mergedData['Advertiser'] == 'Booking']
finalAirbnb = mergedData[mergedData['Advertiser'] == 'Airbnb']

In [24]:
finalBooking.head()

,Book Number,Booked By,Guest Name,Start Date,End Date,Booked On,Status,Rooms,Number Of People,Number Of Adults,...,Facilities,Cleanliness,Comfort,Value For Money,Location,Free WiFi,Accommodation Type,Number Of Nights,Price_DOLLAR,Bed
0,2245705225.0,Veeravalli Gopi,Gopi Veeravalli,03.04.2019,06.04.2019,30.03.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,4
1,2071623069.0,Kretov Nikita,Nikita Kretov,06.04.2019,11.04.2019,01.03.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN,4
2,3037388122.0,Yuheng Huang,Yuheng Huang,07.04.2019,08.04.2019,31.03.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,2
3,3181654986.0,Li Fengju,Fengju Li,10.04.2019,11.04.2019,02.04.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,D,NaN,NaN,4
4,3642008503.0,Li Fengju,NaN,11.04.2019,12.04.2019,02.04.2019,Confirmed,1.0,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,2

In [25]:
finalBooking.shape

(558, 32)

In [26]:
finalAirbnb.shape

(147, 32)

In [27]:
mergedData.shape

(705, 32)

In [28]:
# finalBooking.to_csv('C://Users/k/Desktop/files/file/FinalBooking.csv', index_label='Id')
# finalAirbnb.to_csv('C://Users/k/Desktop/files/file/FinalAirbnb.csv', index_label='Id')

In [29]:
# upis u fajl
# mergedData.to_csv('D://Master/SSP/Projekat/data/processed/ProcessedData.csv', index_label='Id')
# mergedData.to_csv('C://Users/k/Desktop/files/file/ProcessedData.csv', index_label='Id')

In [30]:
# upis u fajl
# mergedData.to_excel('D://Master/SSP/Projekat/data/processed/ProcessedData.xlsx', index_label='Id')

In [31]:
# upis u fajl
# mergedData.to_csv('D://Master/SSP/Projekat/data/processed/ProcessedData.csv', index_label='Id')